<header class="px-3 py-3 border-bottom">
    <nav class="d-flex flex-row align-items-center justify-content-between">
        <a href="home">
            <img src="favicon.png" alt="home" style="max-height: 50px; width:  auto;"/>
        </a>
        <div>
            <a href="profile">
                <i class="fa fa-user fa-2x"></i>
            </a>
            <a href="cart">
                <i class="fa fa-shopping-cart fa-2x"></i>
            </a>
        </div>
    </nav>
</header>